@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../styles/theme.css");

/*reset.css*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  font-family: var(--font-lexend_deca);
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
  font-size: 1rem;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*
 custom chatbox style
*/
.str-chat {
  --str-chat__primary-color: #009688;
  --str-chat__active-primary-color: #004d40;
  --str-chat__surface-color: #f5f5f5;
  --str-chat__secondary-surface-color: #fafafa;
  --str-chat__primary-surface-color: #e0f2f1;
  --str-chat__primary-surface-color-low-emphasis: #edf7f7;
  --str-chat__border-radius-circle: 6px;
}

/* Define the keyframes for the cursor animation */
@keyframes flicker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.cursor {
  display: inline-block;
  width: 1ch;
  animation: flicker 0.5s infinite;
  margin-bottom: 4px;
}

.alertButton:hover {
  background-color: initial;
  color: initial;
  text-decoration: initial;
}

.time-selector-background {
  background: linear-gradient(
    90deg,
    rgba(153, 153, 153, 0.5) 0%,
    rgba(51, 51, 51, 0.5) 44.5%,
    rgba(153, 153, 153, 0.5) 100%
  );
}

@layer base {
  body {
    @apply text-dark bg-background;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .text-balance {
    text-wrap: balance;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }

  .meimei-main {
    @apply fixed left-0 top-0 -z-50 size-full overflow-hidden;
  }

  .chat-container {
    @apply flex grow flex-col p-2 gap-2 md:chat-container-desktop max-md:chat-container-mobile;
  }

  .chat-container-mobile {
    @apply bg-transparent;
  }

  .chat-container-desktop {
    @apply backdrop-blur bg-dark bg-opacity-50 rounded-[20px];
  }

  .chat-bubble {
    @apply bg-dark bg-opacity-50 rounded-[20px] px-5 py-3 max-w-[95%] shadow-md whitespace-pre-line break-words flex my-2;
  }

  .chat-user {
    @apply ml-auto text-right justify-end text-primary-light;
  }

  .chat-ai {
    @apply mr-auto text-left justify-start text-light;
  }

  .chat-text {
    @apply font-normal text-[0.875rem] leading-[20px];
  }

  .background-opacity {
    @apply bg-dark bg-opacity-50;
  }

  .chat-textarea {
    @apply font-light text-[0.875rem] leading-[17.5px] no-scrollbar min-h-12 resize-none rounded-[1.25rem] border-white bg-transparent pr-12 pt-3 placeholder:text-opacity-40 focus-visible:ring-0 text-light;
  }

  .mobile-nav-title {
    @apply font-[700px] text-[1rem] leading-[20px] uppercase;
  }

  .mode-tabs-trigger {
    @apply rounded-[20px] data-[state=active]:border data-[state=active]:border-dark data-[state=active]:bg-primary data-[state=active]:outline data-[state=active]:outline-offset-[-2] data-[state=active]:outline-primary data-[state=active]:text-dark px-4 font-[700px] text-[0.75rem] leading-[15px] uppercase min-w-[80px];
  }

  .input-time-editor {
    @apply size-[30px] border-none bg-transparent p-1 text-[1.25rem] font-[500px] leading-[25px] focus:bg-dark focus-visible:ring-0 focus-visible:ring-offset-0;
  }

  .time-selector-item {
    @apply mx-2 my-1 rounded-[28px] border-transparent border text-[1rem] font-[500px] leading-[20px] min-w-[100px];
  }
}
