@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-dark_light {
    @apply text-dark; /* disable dark mode at this moment*/
  }

  .background-dark_light {
    @apply bg-background; /* disable dark mode at this moment*/
  }

  .text-800-48-28 {
    @apply font-extrabold text-[3rem] leading-[28px];
  }

  .text-300-14-17 {
    @apply font-light text-[0.875rem] leading-[17.5px];
  }

  .text-400-14-17 {
    @apply font-normal text-[0.875rem] leading-[17.5px];
  }

  .text-400-14-20 {
    @apply font-normal text-[0.875rem] leading-[20px];
  }

  .text-400-16-20 {
    @apply font-normal text-[1rem] leading-[20px];
  }

  .text-400-20-26 {
    @apply font-normal text-[1.25rem] leading-[26px];
  }

  .text-500-18-22 {
    @apply font-[500] text-[1.125rem] leading-[22.5px];
  }
  .text-500-10-12 {
    @apply font-[500] text-[0.625rem] leading-[12.5px];
  }

  .text-500-20-25 {
    @apply font-[500] text-[1.25rem] leading-[25px];
  }

  .separator {
    @apply bg-[#E4E3E3] border-[0.5px];
  }
}
